:root {
  --block-background: rgb(147, 209, 189);
  --block-font: rgb(6, 53, 35);

}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    Background-color: #13494b;
    color: #fff;
  }

  h1 {
    text-align: right;
    padding: 1%;
    width: 400px;
    font-size: 200%;
    background-color: var(--block-background);
    color: var(--block-font);
  }
  
  h2 {
    margin: 2% 0;
    font-size: 250%;
    background-color: var(--block-background);
    color: var(--block-font);
  }
  
  nav ul {
    display: flex;
    font-size: 150%;
    justify-content: space-between;
    width: 450px;
    text-decoration: underline;
    
  }
  
  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  .brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
     /*    align-items: center; */
    padding: 1%;
    height: 400px;
    background-image: url("../images/catskills.JPG");
    background-size: cover;
    background-position: center;
    color: navy;
  }
  #subtitle {
    align-self: flex-end;
    
    /* position: relative;
    top: 50px;
    right: 100px; */
  }